@font-face {
    font-family: Common;
    src: url('../font-styles/Aclonica-Regular.ttf');
}

@font-face {
    font-family: Parent;
    src: url('../font-styles/Parent.ttf');
}

.about{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:  100vh;
    /* display:flex;
    justify-content: center;
    align-items: center; */
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    */
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.common_heading{
        font-family: Parent; 
        position: absolute;
        top: 130px;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        z-index: 200;
        font-size: 50px;
        border-bottom: 2px solid #39fe39; 
}

.about_container{
    margin: 40px 40px 10px 40px;
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
    gap: 40px;
    position: absolute; 
    top: 180px;
    /* transform: translate(-50%);  */
}

.content_heading{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
}
.about_content>p{
    color: white;
}

@media only screen and (max-width:700px)  {
    .about{
        background-position: center;
        background-size: cover;
        background-repeat: repeat;
        height:  180vh;
        /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        */
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }

    .about_container{
        margin: 20px;
        display: block;
        /* flex-direction: column; */
        /* flex-wrap: nowrap; */
        align-items: center;
        justify-content: center;
        gap: 40px;
        position: absolute; 
        top: 250px;
        /* transform: translate(-50%);  */
    }

    img{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        max-width: 100%;
        height: auto;
    }

    .common_heading{
        font-family: Common; 
        position: absolute;
        top: 160px;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        font-size: 60px;
        border-bottom: 2px solid #39fe39; 
    }

    .about_content{
        margin: 70px 30px 0px 30px;
    }

    .content_heading{
        font-family: Parent;
        font-size: 50px;
        color: white;
        text-align: center;
    }

    .about_content>p{
        color: white;
        font-size: 15px;
    }
}

@media only screen and (max-width:1000px) and (min-width:701px) {
    .about{
        background-position: center;
        background-size: cover;
        background-repeat: repeat;
        height:  180vh;
        /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        */
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }

    .about_container{
        margin: 20px;
        display: block;
        /* flex-direction: column; */
        /* flex-wrap: nowrap; */
        align-items: center;
        justify-content: center;
        gap: 40px;
        position: absolute; 
        top: 250px;
        /* transform: translate(-50%);  */
    }

    img{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        max-width: 100%;
        height: auto;
    }

    .common_heading{
        font-family: Common; 
        position: absolute;
        top: 160px;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        z-index: 200;
        font-size: 90px;
        border-bottom: 2px solid #39fe39; 
    }

    .about_content{
        margin: 70px 30px 0px 30px;
    }

    .about_content>p{
        color: white;
        font-size: 20px;
    }

    .content_heading{
        font-family: Parent;
        font-size: 60px;
        color: white;
        text-align: center;
    }

    .common_heading{
        font-size: 70px;
    }
}



