.container{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.499); /* Set the box shadow */
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
}

.heading{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}

p{
    padding: 10px;
    margin: 15px;
}

.btn{
    position: relative;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    margin: 0px;
}

/* .next{
    margin-top: 30px;
}
.previous{
    margin-top: 30px;
} */