@font-face {
    font-family: headerr1;
    src: url('../font-styles/Parent.ttf');
}

.navigation_bar{
    list-style: none;
    display: flex;
    align-items: top;
    justify-content: right;
}

.navigation_bar>li{
    margin: 0px 20px;
}

.navigation_bar li a{
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    border-bottom: 2px solid transparent; 
    transition: border-bottom 0.3s ease;
}

.navigation_bar li a:hover{
    border-bottom: 2px solid white;
}

.logo_text{
    font-family: headerr1;
}
