@font-face {
    font-family: headerr1;
    src: url('../font-styles/Parent.ttf');
}
@font-face {
    font-family: headerr2;
    src: url('../font-styles/Aclonica-Regular.ttf');
}
.home{
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.header_container{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    display: block;
    align-items: center;
    justify-content: center;
}

.header_container>h1{
    color: white;
    text-align: center;
    font-family: headerr2;
    font-size: 63px;
    margin-bottom: 40px;
}

.btn{
    border: 2px white solid;
    background-color: transparent;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    padding: 10px;
    position: relative;
    left: 37%;
    transform: translate(-50%);
    text-decoration: none;
}


.btn:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}


