@font-face {
    font-family: Common;
    src: url('../font-styles/Aclonica-Regular.ttf');
}

@font-face {
    font-family: Parent;
    src: url('../font-styles/Parent.ttf');
}

.cards{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    position: absolute;
    top: 115px;   
}

.card-items{
    flex: 0 0 calc(33.33% - 20px); /* Initial width for larger screens (3 items per row) */
    margin-right: 20px; /* Adjust the margin as needed */
    width: 350px; /* Set the fixed width */
}

body{
    background-color: white;
}

.bottombtns{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .card-items {
      flex: 0 0 calc(50% - 10px); /* 2 items per row */
      margin-right: 10px; /* Adjust the margin as needed */
    }
  }
  
  /* Media query for smaller screens */
  @media (max-width: 480px) {
    .card-items{
      flex: 0 0 100%; /* 1 item per row (full width) */
      margin-right: 0; /* No margin on smaller screens */
    }
  }

.mininavbar{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 80px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 5px;
  border-bottom: black 1px solid;
  background-color: white;
}

.centremenu{
  font-family: Parent;
  color: black;
  font-size: 30px;
}

